[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RStata"]
	path = RStata
	url = https://github.com/lbraglia/rstata
[submodule "aplore3"]
	path = aplore3
	url = https://github.com/lbraglia/aplore3
[submodule "aprean3"]
	path = aprean3
	url = https://github.com/lbraglia/aprean3
[submodule "ifctools"]
	path = ifctools
	url = https://github.com/lbraglia/ifctools
[submodule "telegram"]
	path = telegram
	url = https://github.com/lbraglia/telegram
